* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 30px;
    color: #545E6C;
    background-color: #effeef;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    min-height: 1500px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* experimenting */
/* social media buttons */
.frame {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 200px;
    position: relative;
    top: 5px;
    right: 8px;
    box-shadow:
        inset 2px 2px 2px 0px rgba(255, 255, 255, .3),
        7px 7px 20px 0px rgba(0, 0, 0, .2),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    ;
    transition: box-shadow 0.3s cubic-bezier(.79, .21, .06, .81);
    border-radius: 4px;
}

.btn {
    height: 35px;
    width: 35px;
    border-radius: 3px;
    background: #e0e5ec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    box-shadow:
        inset 2px 2px 2px 0px rgba(255, 255, 255, .3),
        7px 7px 20px 0px rgba(0, 0, 0, .2),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: box-shadow 0.3s cubic-bezier(.79, .21, .06, .81);
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.btn:active {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

/* curriculum vitae */
.CV-container {
    display: inline;
}

.CV-container h1 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    /* text-transform: uppercase; */
    /* font-family: arial rounded mt; */
    font-weight: 600;
    cursor: pointer;
    display: inline;

}

.CV-container h1 span {
    display: inline-flex;
    color: #fff;

}

.CV-container h1 span:nth-child(even) {
    overflow: hidden;
    transition: ease-in-out 0.5s;
    color: #fff;
    letter-spacing: -1em;
}

.CV-container h1:hover span:nth-child(even) {
    letter-spacing: 0;
    cursor: pointer;
}

.CV-container h1:hover span:nth-child(2) {
    transition-delay: 0s;

}

.CV-container h1:hover span:nth-child(4) {
    transition-delay: 0.5s;

}

.CV-container h1:hover span:nth-child(6) {
    transition-delay: 0.8s;
}

/* //experimenting */

a {
    transition: 0.3s ease all;

}

a:hover {
    text-decoration: none;
    /* margin-left: 5px; */
    padding: 5px;
    border-radius: 4px;
    background-color: #2f4652;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

}



/* --------------------------------- SIDEBAR -------------------------------- */

.content-wrapper {
    margin: 0 auto;
    position: relative;
    max-width: 960px;
    min-height: 1625px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1)
}

.sidebar {
    background-color: #4B6A78;
    min-height: 1564px;
    width: 250px;
    position: absolute;
    right: 0;
}

.profile-container {
    background: rgba(0, 0, 0, 0.2);
    padding: 20px;
    height: 400px;
    text-align: center;
}

/* google maps */
#map {
    height: 300px;
    width: 200px;
    border-radius: 5px;
    position: relative;
    right: 4px;
}

/* ------------------------------- PROFILE-BOX ------------------------------ */

.profile-box {
    position: relative;
    display: block;
    margin: 10px auto 30px;
    height: 235px;
    width: 180px;
    background-color: skyblue;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.3s ease all;

}


.profile-container .tagline h3 {
    position: relative;
    font-family: monospace;
    bottom: 17px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}

.profile-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.profile-box img {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 4px;
    transition: 1s ease all;
}

.profile-box:hover img {
    transform: scale(1.2);
}

.profile-box .box-content {
    position: absolute;
    width: 100%;
    height: 60px;
    /* height: 100px; */
    bottom: 0;
    left: 0;
    z-index: 999;
    padding: 20px 20px 0;
    background: rgb(0, 0, 0, 0.5);
    color: #fff;
    transition: 0.5s ease all;
}

.profile-box:hover .box-content {
    padding-bottom: 20px;
    padding-top: 10px;
}

.profile-box .box-content h3 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
}

.profile-box .social-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.profile-box .social-links li {
    margin-left: 5px;
    position: relative;
    width: 23px;
    height: 23px;
    display: inline-block;
    border-radius: 50%;
    transition: 0.3s ease all;
    transform: translateY(80px);
}

.profile-box .social-links img {
    border-radius: 50%;
    position: absolute;
    width: 23px;
    height: 23px;
    transition: 0.3s ease all;
    transform: translateY(80px);
}

.profile-box .social-links li:nth-child(2) {
    transition-delay: 0.20s;
}

.profile-box .social-links li:last-child {
    transition-delay: 0.30s;
}

.profile-box:hover .social-links li {
    transform: scale(1);
}

.profile-box .social-links img:nth-child(2) {
    transition-delay: 0.20s;
}

.profile-box .social-links img:last-child {
    transition-delay: 0.30s;
}

.profile-box:hover .social-links img {
    transform: scale(1);

}

.sidebar .container-block {
    padding: 30px;
    color: #fff;
}

.sidebar .container-block .container-block-title {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 20px;
}

.sidebar .container-block a {
    color: #fff;
}

.sidebar .container-block ul {
    font-weight: 600;
}

.sidebar .container-block .fa {
    font-size: 18px;
    margin-right: 8px;
}

.sidebar .container-block li {
    list-style: none;
    margin-bottom: 15px;
    font-size: 14px;
}

.sidebar .container-block span {
    opacity: 0.5;
}


/* -------------------------------- SITE-MAIN ------------------------------- */
.site-main {
    padding: 60px;
    padding-right: 300px;
}

.section {
    margin-bottom: 60px;
}

.site-main .section .item {
    margin-bottom: 30px;
}

.site-main .section-title {
    font-size: 20px;
    font-weight: 550;
    color: #2e4049;
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
}

.site-main .section-title .fa {
    width: 30px;
    height: 30px;
    display: inline-block;

}

.site-main .upper-row {
    position: relative;
    overflow: hidden;
    margin-bottom: 2px;
}

.site-main .institution {
    color: #38414d;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;

}

.site-main .time {
    position: absolute;
    font-size: 14px;
    right: 0;
    top: 0;
    color: #9ab0ce;
}

.site-main .work-title {
    margin-bottom: 10px;
    color: #89a1c3;
    font-size: 13px;
}

.site-main .details p {
    color: #566170;
    font-weight: 400;
    font-size: 14px;
}

.site-main .projects-section .item {
    margin-bottom: 15px;
    font-size: 14px;
}

.site-main .project-title {
    font-size: 16px;
    margin-top: 0;
    font-weight: 400;
    margin-bottom: 5px;
}

ul {
    margin-bottom: 10px;
}

.site-main .skills-section .item {
    margin-bottom: 15px;
}

.site-main .skills-section .item h3 {
    font-size: 14px;
    font-weight: 600;
}

.site-main .skills-section .level-title {
    display: inline-block;
}

.skillset .level-bar {
    background-color: #f5f5f5;
    height: 12px;
}

.skillset .level-bar-inner {
    background-color: #6c92a3;
    height: 12px;
    transition: 0.2s ease all;
}

.skillset .level-bar-inner:hover {
    height: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

footer span {
    font-size: 12px;
    font-weight: 600;
}

footer .fa-heart {
    padding: 2px;
    color: rgb(219, 115, 112);
    /* transition: 0.3s ease-in-out; */
    animation: beat .5s infinite alternate;
}

@keyframes beat {
    to {
        transform: scale(1.2);
    }
}


/* ----------------------- MOBILE RESPONSIVE SETTINGS ----------------------- */
/* extra small devices */
@media screen and (max-width:767px) {
    .sidebar {
        position: static;
        width: inherit;
        min-height: 1000px;
    }

    .site-main {
        padding: 20px
    }

    .site-main .time {
        position: static;
        display: block;
        margin-top: 5px;
    }

    .site-main .upper-row {
        margin-bottom: 0;
    }
}

/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media screen and (max-width:994px) {
    .sidebar {
        position: static;
        width: inherit;
        min-height: 1000px;
    }

    .site-main {
        padding: 50px
    }

    .skillset .level-title {
        display: inline-block;
        /* float: left; */
        width: 30%;
        margin-bottom: 0;
    }

    .skillset .level-bar {
        display: block;
        width: 100%;
        position: relative;
        top: 1px;

    }
}